.article {
  @apply flex flex-col gap-10 pt-10 max-w-4xl lg:w-[896px];
}

.header {
  @apply flex flex-col gap-1;
}

.headerTitle {
  @apply text-3xl md:text-5xl md:leading-tight font-bold;
}

.date {
  @apply flex gap-1 items-center text-textDark;
}

.link {
  transition: color 0.3s ease;
  @apply flex gap-1 items-center w-44 p-3 pl-0 text-primary;

  &:hover {
    @apply text-primaryLight;
  }
}

/* --------------------  以下markdownのスタイル  -------------------- */
.articleContent {
  /* Heading */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-12 mb-6 font-bold;
  }

  h1 {
    @apply text-3xl md:text-4xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  h4 {
    @apply md:text-xl;
  }
  h5 {
    @apply md:text-lg;
  }

  h1 > a {
    color: inherit;
    @apply no-underline;
  }
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    color: inherit;
    @apply no-underline;
  }

  hr {
    height: 1px;
    border: 0;
    @apply bg-textBase my-2;
  }

  /* Prose */
  p {
    @apply leading-7 mb-7 p-0;
  }

  ul,
  ol {
    @apply mx-0 mb-8 p-0 list-outside;
  }
  ul {
    @apply list-disc pl-5;
  }
  ol {
    @apply list-decimal pl-5;
  }
  ul li,
  ol li {
    @apply mb-2 pl-0;
  }
  li > p {
    @apply mb-4;
  }
  li *:last-child {
    @apply mb-0;
  }
  li > ul {
    @apply ml-1 mt-2;
  }

  blockquote {
    @apply text-textDark mr-8 mb-8 pl-6  border-l-4 border-accentYellow text-lg italic;
  }
  blockquote > :last-child {
    @apply mb-0;
  }
  blockquote > ul,
  blockquote > ol {
    @apply list-inside;
  }

  table {
    border-spacing: 0.25rem;
    @apply w-full mb-8 border-collapse;
  }
  table thead tr th {
    @apply border-b border-textBase text-xl;
  }

  p > strong {
    @apply text-accentYellow;
  }

  li > strong {
    @apply text-accentYellow;
  }

  /* Link */
  a {
    transition: color 0.3s ease;
    @apply text-primary underline;

    &:hover,
    &:focus {
      @apply text-primaryLight;
    }
  }

  /* HACK:(nus3) シンタックスハイライトにはoverflowを効かせたい */
  pre > code {
    @apply whitespace-pre-wrap;
  }

  code[class*='language-text'] {
    @apply p-1;
  }

  /* HACK:(nus3) prismjs/themes/prism-tomorrow.cssの上書きをここでしてるとこ */
  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    @apply bg-bgCode;
  }
}
